body {
  background: #eaf3ff;
}

.App {
  max-width: 600px;
  margin: 30px auto;
}

.App footer {
  font-size: 12px;
  margin: 10px 0;
  text-align: center;
  color: #81b1e9;
}

a {
  color: #81b1e9;
}
