.Weather {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  font-family: arial;
  color: #959595;
  padding: 15px;
}

.Weather h1 {
  font-size: 28px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 30px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 80px;
  margin-right: 10px;
  padding-bottom: 10px;
  float: left;
  align-items: center;
}

.Weather .temperature {
  font-size: 60px;
  line-height: 60px;
  color: rgb(78, 78, 78);
}

.Weather .unit {
  font-size: 16px;
  color: rgb(78, 78, 78);
  position: relative;
  top: -31px;
  margin-left: 5px;
}
