.Weather {
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border: 1px solid #81b1e9;
  border-radius: 5px;
  font-family: arial;
  color: #959595;
  padding: 15px;
}

.Search {
  border: 1px solid #81b1e9;
  border-radius: 8px;
}

.btn {
  background: #81b1e9;
  border: 1px solid #81b1e9;
  border-radius: 8px;
  color: rgb(78, 78, 78);
}

.btn:hover {
  background: #d9e7f9;
  border: 1px solid #81b1e9;
  color: rgb(78, 78, 78);
}

.Weather h1 {
  font-size: 28px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 30px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 80px;
  margin-right: 10px;
  padding-bottom: 10px;
  float: left;
  align-items: center;
}

.Weather .temperature {
  font-size: 60px;
  line-height: 60px;
  color: rgb(78, 78, 78);
}

.Weather .unit {
  font-size: 16px;
  color: rgb(78, 78, 78);
  position: relative;
  top: -31px;
  margin-left: 5px;
}
